.innercontent
{
    width: 90%;
    height: 95%;
    /*background-image: url("C:\Users\Tringapps-user9\React Projects\portfolio\src\bgimage.jpg");*/
    background-color:black;
    display: flex;
    position: relative;
    overflow: hidden;
}